*{
    box-sizing: border-box;
}

body{
    background-color: #333;
    color: #eee;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#container{
    max-width: 700px;
    margin: 0 auto;
}

#showHint{
    padding: 5px 10px;
    color: black;
    font-weight: bold;
}

#showHint:hover{
    border: 2px solid black;
}

.hidden{
    display: none;
}

#celebration{ /* Rainbow button. Rainbow background is done in JS */
    padding: 15px 30px;
    margin-top: 15px;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    color: white;
    cursor: pointer;
}
