*{
    box-sizing: border-box;
}

body{
    background-color: #333;
    color: #eee;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#container{
    max-width: 700px;
    margin: 0 auto;
}

button{
    padding: 10px 20px;
    margin-top: 15px;
    border: none;
    border-radius: 8px;
    background-color: #eee;
    color: #333;
    cursor: pointer;
}

button:hover{
    background-color: #ccc;
}

#showHint{
    padding: 5px 10px;
    color: black;
    font-weight: bold;
}

#showHint:hover{
    border: 2px solid black;
}

.hidden{
    display: none;
}